html, body {
  margin:0;
  padding:0;
}

body, h1, header p, h2 {
  font-family: "Oswald", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:normal;
}

p, ul {
  font-family: "Crimson Text", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
}

h2 {
  margin-top: 0px;
  border-top: 0px;
  margin-bottom: .5em;
  border-bottom: 0px;
}

p {
  margin-top: 0px;
  border-top: 0px;
}

ul {
  margin-left: 10px;
  padding-left: 0;
}

li {
  list-style-type: none;
  margin-left: 5px;
  padding-left: 0;
}

header {
  text-align: right;
  margin-right: 5%;
}

header h1 {
  margin-top: 5px;
  margin-bottom: 0px;
}

header p {
  margin:0;
  padding:0;
}

.image-holder {
  background-size: cover;
  background-position: center center;
  width: 100%;
}

#left {
  width:49%;
  height: 100vh;
  position:fixed;
}

.luke-photo {
  background-image: url("../images/HIGHRES_smallest.jpg");
  background-size: cover;
  background-position: center top;
}

#right {
  width:49%;
  float:right;
  height: 100vh
}

#personal-info {
  margin-top: 1.5em;
  width:95%;
  vertical-align: middle;
  margin-left: 0px;
  margin-right: 5%;
}

.icons {
  margin-top: 10px;
  text-align: center;
}

.icon-group-item {
  text-align: center;
  margin:0px 2.5%
}

a {
  color: #000;
  text-decoration: underline;
}

a:hover {
  color: #605e5e; -webkit-transition:all 0.2s ease-in-out;
}

.icons a {
  opacity: 0.9;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  #left {
    width:100%;
    height: 70vh;
    position:relative;
  }

  .luke-photo {
    background-position: center top;
  }

  #right {
    width:100%;
    float:none;
  }

  #personal-info {
    margin-top: .5em;
    width:90%;
    margin-right: 5%;
    margin-left: 5%;
  }
}
