@import url('https://fonts.googleapis.com/css?family=Arimo');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');

body {
  text-align: center;
}

.header {
  text-align: left;
  font-family: 'Arimo', sans-serif;
  padding: 1em;
}

.icons{

}

#about-me {
    clear: both;
    padding: 3em;
}

#me-photo {
    padding: 1em 1em 1em 1em;
    float: left;
    width: 55%;
}

#me-paragraph {
    font-family: 'Noto Serif', serif;
    padding: 5em 1em 1em 1em;
    float: right;
    width: 35%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#about-me-icon {
  float: left;
  padding: 0em 0em 0em 2em;
}

#resume-icon {
  float: left;
  padding: 0em 0em 0em 2em;
}

#github-icon {
  float: left;
  padding: 0em 0em 0em 2em;
}

#message-me-icon {
  float: left;
  padding: 0em 0em 0em 2em;
}
